<div class="boardctrl">
  <div class="game" data-ng-keyup="keyup($event)">
    <div class="progresstracker"
        data-ng-class="BoardService.isGameOn() ? '' : BoardService.didPlayerLose() ? 'boardlost' : 'boardwon'">
      <div class="voterprogress">
        <span class="voterprogressstats">
          <span class="votessecured" data-ng-bind="countVotersSecured()"></span>
          /
          <span class="votestotal" data-ng-bind="BoardService.voters.length"></span>
        </span>
        votes secured
      </div>

      <div class="flipflops" data-ng-show="BoardService.isGameOn()">
        <div class="flipflop" data-ng-repeat="flip in getFlips() track by $index" data-ng-class="flip ? 'flipped' : 'unflipped'">
            <div class="flipcrossout"></div>
        </div>
      </div>
      
      <div class="boardpostgamebuttons" data-ng-show="!BoardService.isGameOn()">
        <!--
          <label for="numissues" style="vertical-align: top; line-height: 24px;">Difficulty:</label>
          <input type="range" min="1" max="10" data-ng-model="difficultyLevel" />
          <br/>
        -->
      
        <button data-ng-click="doAdvance()" data-ng-show="BoardService.didPlayerWin()">
          Next
        </button>
        <br/>

        <button data-ng-click="doGenerate()">
          Replay
        </button>
        <br/>
        
        <button data-ng-click="showSolution=true" data-ng-show="BoardService.didPlayerLose() && !showSolution">
          Show solution
        </button>
        <br/>
      </div>
    </div>

    <div class="voters">
      <div class="voterlist">
        <div class="issuedetails"
            data-ng-class="BoardService.platform[getCurrentIssue().key] ? 'platformissuepro' : 'platformissuecon'">
          <div class="issuenav previssue"
              data-ng-click="stepIssue(-1)">
            &lt;
          </div>
          <div class="issueswitch"
              data-ng-click="flip(getCurrentIssue())">
            <div class="issuelabelpro">
              FOR
            </div>
            <div class="issueswitchimage gridicon"></div>
            <div class="issuelabelcon">
              AGAINST
            </div>
          </div>
          <div class="issuedetailsbody">
            <div class="issuename" data-ng-bind="getCurrentIssue().issuetext"></div>
            <div class="issueblurb">
              Your stance: &ldquo;I believe in
              <span class="issueprocon" data-ng-bind="BoardService.platform[getCurrentIssue().key] ? getCurrentIssue().textpro : getCurrentIssue().textcon"></span>&rdquo;.
            </div>
          </div>
          <div class="issuenav nextissue"
              data-ng-click="stepIssue(1)">
            &gt;
          </div>
        </div>
      
        <table class="votertable">
          <thead>
            <tr>
              <th></th> <!-- Make room for the voter icon. -->
              <th class="platformissue" data-ng-repeat="issue in BoardService.sortedIssues"
                  data-ng-class="getIssueRowClasses(issue.key)"
                  data-ng-click="setCurrentIssueKey(issue.key)">
                <div class="issuelabelpro">
                  FOR
                </div>
                <div class="platformissuebox" 
                    data-ng-class="showSolution && BoardService.winningPlatform[issue.key] != BoardService.platform[issue.key] ? 'issuestancewrong' : ''"
                    data-ng-click="setCurrentIssue(issue.key)">
                  <img class="gridicon" src="{{issue.img}}" />
                </div>
                <div class="issuelabelcon">
                  AGAINST
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="voterrow" data-ng-repeat="voter in BoardService.voters"
                data-ng-class="getVoterRowClasses(voter)"
                data-ng-click="setCurrentVoter(voter)">
              <td class="voterpic gridicon" data-ng-style="voterImageStyle(voter)"></td>
              
              <td class="voterissue" data-ng-repeat="issue in BoardService.sortedIssues"
                  data-ng-class="getVoterIssueOpinionClasses(voter, issue.key)">
                <div class="voterissuebox" data-ng-show="voterCaresAboutIssue(voter, issue.key)">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="voterinterview"
          data-ng-class="BoardService.isVoterVotingForYou(getCurrentVoter()) ? 'voterinterviewsupport' : 'voterinterviewoppose'">
        I am
        <ul>
          <li data-ng-repeat="issuekey in getCurrentVoter().sortedIssueKeys"
              data-ng-class="getCurrentVoter().opinions[issuekey] ? 'issuepro' : 'issuecon'">
            <span data-ng-show="getCurrentVoter().opinions[issuekey]">
              FOR
            </span>
            <span data-ng-show="!getCurrentVoter().opinions[issuekey]">
              AGAINST
            </span>
            <span data-ng-bind="BoardService.issues[issuekey].issuetext"></span>
          </li>
        </ul>
        <div class="voteragreement" data-ng-show="BoardService.isVoterVotingForYou(getCurrentVoter())">
          I like your views on
          <span class="voteragreementlist" data-ng-bind="getVoterAgreementString(getCurrentVoter())"></span>!
          You&rsquo;ve got my vote!
        </div>
        <div class="voterdisagreement" data-ng-hide="BoardService.isVoterVotingForYou(getCurrentVoter())">
          You share none of my views. I will not vote for you.
        </div>
      </div>
    </div>
    
    <div id="helpbutton" class="swivellybutton"
        data-ng-class="HelpService.isHelpShowing() ? 'buttonactive' : ''"
        data-ng-click="HelpService.showHelp()">
    </div>
    
    <div class="endgamesplash overlayholder"
        data-ng-show="!BoardService.isGameOn()"
        data-ng-click="endgamesplashDismissed = true"
        data-ng-class="endgamesplashDismissed ? 'overlaydismissed' : ''">
      <div class="winner overlay"
          data-ng-show="BoardService.didPlayerWin()">
        <div class="winnerburst">
        </div>
      </div>
      
      <div class="loser overlay" data-ng-show="BoardService.didPlayerLose()">
        <div class="loserburst">
        </div>
      </div>
    </div> <!-- endgamesplash -->
    
  </div>
</div>
    
    
