<div class="helpctrl">
  <div class="voterexplain instructiontext">
    <ul>
      <li>You must convince <em>every</em> voter to vote for you.</li>
      <li>Each voter has a strong opinion about <em>three</em> issues.</li>
      <li>A voter will vote for you if they agree with you on at least <em>one</em>
          of their three personal issues.</li>
      <li>Flip your stances on an issue to switch which voters agree/disagree with you on it.</li>
      <li>A winning combination of stances will match at least <em>one</em> personal issue of <em>every</em> voter.</li>
      <li>You can only make a limited number of flipflops, so choose carefully!</li>
    </ul>
  </div>
  
  <div class="bottombuttonholder">
    <button data-ng-click="HelpService.hideHelp()">Got it!</button>
  </div>
</div>
    
    
