html {
  cursor: default;
  margin: 0;
  padding: 0;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-attachment: fixed;
  background-color: #137EC0;
  background-image: url('img/Debate-Stage.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.app {
  margin: 0;
  padding: 0;
  text-align: center;
}

.viewcontainer {
  background-color: rgba(255,255,128,.95);
  box-sizing: border-box;
  border: 4px solid #884;
  border-radius: 10px;
  box-shadow: 0px 5px 30px 10px #000, 0px -3px 5px 5px #cc0 inset; 
  display: inline-block;
  height: 600px;
  margin: auto;
  margin-top: 10px;
  max-height: 600px;
  max-width: 800px;
  min-height: 600px;
  min-width: 800px;
  padding: 10px;
  position: relative;
  text-align: left;
  width: 800px;
}

.game {
  font-family: sans-serif;
  font-size: 14px;
  margin: 20px auto;
  width: 800px;
}

.progresstracker {
  background-color: #59a4d3;
  border: 1px solid #008;
  border-radius: 10px;
  color: white;
  display: inline-block;
  height: 520px;
  margin-right: 20px;
  padding: 10px;
  vertical-align: top;
  white-space: normal;
  width: 60px;
}

.progresstracker.boardlost {
  background-color: #f44;
}
.progresstracker.boardwon {
  background-color: #4a4;
}


.platformlead {
  font-size: 20px;
  font-weight: bold;
}

ul {
  margin: 0;
  padding-left: 3ex;
  list-style-position: outside;
}

.gridicon {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center center;
  height: 32px;
  width: 32px;
}


.issuedetails {
  background: #cc8;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  display: inline-block;
  height: 120px;
  margin-left: 32px;
  padding: 20px;
  width: 608px;
}

.issuelist {
    margin-top: 20px;
}

.issueitem {
    cursor: pointer;
    padding: 5px 15px;
}

.issuepro {
    color: #8F8;
}

.issuecon {
    color: #c66;
}

.issuename {
    font-weight: bold;
}

.issueblurb {
  font-size: 12px;
  white-space: normal;
  width: 240px;
}
.issueprocon {
  font-weight: bold;
}
.platformissuepro .issueprocon{
  color: #4a4;
}
.platformissuecon .issueprocon{
  color: #c44;
}

.issueitem:hover .issueblurb {
  opacity: 1;
}

.platformissue {
  cursor: pointer;
  padding: 10px 0;
  text-align: center;
}

@keyframes anim-throb {
  0%  { transform: scale(1); }
  50%  { transform: scale(1.6); }
  99%  { transform: scale(1); }
}

.platformissue.currentissue {
  background: #cc8;
}

.currentissue .voterissuebox {
  animation-name: anim-throb;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

.issuelabelpro {
  color: #0a0;
  opacity: 0;
}

.issuelabelcon {
  color: #822;
  opacity: 0;
}

.platformissuepro .issuelabelpro {
  opacity: 1;  
}
.platformissuecon .issuelabelcon {
  opacity: 1;  
}

.issuedetailsbody {
  display: inline-block;
  padding: 10px;
}

.issuenav {
  background: #eea;
  border: 3px solid #844;
  border-radius: 10px;
  color: #844;
  cursor: pointer;
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  height: 64px;
  line-height: 64px;
}
.issuenav:hover {
  border-color: #ffc;
  color: #ffc;
}
.issuenav:active {
  background: #aa6;
}
.issuenav.previssue {
  float: left;
}
.issuenav.nextissue {
  float: right;
}

.issueswitch {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 0 10px;
  text-align: center;
  vertical-align: top;
}
.issueswitchimage {
  display: inline-block;
  margin: auto;

  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.platformissuepro .issueswitchimage {
  background-image: url('img/switch-on-icon.png');
}
.platformissuecon .issueswitchimage {
  background-image: url('img/switch-off-icon.png');
}

.issuestancewrong img {
  border: 4px solid #f88;
  box-sizing: border-box;
}


.flipflop {
  background-image: url('http://images.lacrosseunlimited.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/R/a/Rainbow_Sandals_Premier_Leathers_tan_sierra_301ALTS0_srbr_42_2.png');
  background-size: 64px 64px;
  display: inline-block;
  height: 64px;
  white-space: normal;
  width: 64px;
}

.flipcrossout {
  background-image: url('http://www.aspals.com/redcross.gif');
  background-size: 64px 64px;
  display: inline-block;
  height: 64px;
  width: 64px;
}

.flipflop.unflipped .flipcrossout {
    opacity: 0;
}

.voters {
  display: inline-block;
  position: relative;
  width: 640px;
}

.voterlead {
  font-size: 20px;
  font-weight: bold;
}

.voterprogress {
  font-weight: bold;
}

.votessecured {
  color: white;
}

.votestotal {
  color: #666;
}


.votertable {
  border-collapse: collapse;
  width: 100%;
}

tr.voterrow {
  cursor: pointer;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dcffdc+0,c8f0c8+20,c8f0c8+86,78b478+100 */
  background: #dcffdc; /* Old browsers */
  background: -moz-linear-gradient(top,  #dcffdc 0%, #c8f0c8 20%, #c8f0c8 86%, #78b478 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #dcffdc 0%,#c8f0c8 20%,#c8f0c8 86%,#78b478 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #dcffdc 0%,#c8f0c8 20%,#c8f0c8 86%,#78b478 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcffdc', endColorstr='#78b478',GradientType=0 ); /* IE6-9 */

  transition: background 1s;
}

tr.voterrow.voterisnotvotingforyou {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdcdc+0,f0c8c8+20,f0c8c8+86,b47878+100 */
  background: #ffdcdc; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffdcdc 0%, #f0c8c8 20%, #f0c8c8 86%, #b47878 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffdcdc 0%,#f0c8c8 20%,#f0c8c8 86%,#b47878 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffdcdc 0%,#f0c8c8 20%,#f0c8c8 86%,#b47878 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdcdc', endColorstr='#b47878',GradientType=0 ); /* IE6-9 */
}

tr.voterrow  td {
  border-bottom: 1px solid #448;
  box-sizing: border-box;
  height: 32px;
  padding-top: 4px;
  vertical-align: top;
}

tr.voterrow:first-child  td {
  border-top: 1px solid #448;
}


.voterpicholder {
  height: 32px;
  position: relative;
  width: 32px;
}
.voterpic {
  background-image: url('img/user_blue_32.png');
  background-size: 32px 32px;
  height: 32px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 32px;
  transition: opacity .5s;
}
.voterpic.voterdisagrees {
  background-image: url('img/user_red.png');
}
.voterpic.voterdisagrees {
  background-image: url('img/user_red.png');
}

.voterisnotvotingforyou .voterdisagrees,
.voterisvotingforyou .voteragrees {
  opacity: 1;
}


.voterissue {
  text-align: center;
}

.voterissuebox {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 20px;
}

.voterissuebox .voterissueboxmark {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  height: 20px;
  left: 0px;
  position: absolute;
  width: 20px;
  transform: scale(0);
  transition: transform 1s;
}

.voterissuebox .voterissueboxmark.voterissueboxagrees {
  background-image: url('img/checkmark.png');
  background-size: 20px 15px;
}
.voterissuebox .voterissueboxmark.voterissueboxdisagrees {
  background-image: url('img/red-x-mark.png');
  background-size: 10px 10px;
}

.voteragreesonissue .voterissueboxagrees,
.voterdisagreesonissue .voterissueboxdisagrees {
  transform: scale(1);
  transition: transform .5s;
}

.statelevel.overlay {
  margin: auto;
  text-align: center;
  background-color: rgba(255,255,255,.2);
  box-shadow: 0 0 40px rgba(255,255,255,.4);
}

.statelevel img {
  height: 260px;
}

.winner {
  background-color: rgba(0,120,0,.2);
  box-shadow: 0 0 40px rgba(0,120,0,.4);
  padding: 40px;
}
.winnerburst {
  background-image: url('http://res.freestockphotos.biz/pictures/7/7240-illustration-of-a-burst-with-win-text-pv.png');
  background-size: 300px;
  height: 260px;
  margin: auto;
  width: 300px;
}

.loser {
  background-color: rgba(120,0,0,.2);
  box-shadow: 0 0 40px rgba(120,0,0,.4);
  padding: 40px;
}
.loserburst {
  background-image: url('http://vignette1.wikia.nocookie.net/uncyclopedia/images/d/de/Lose.gif/revision/latest?cb=20070427230953');
  background-size: 260px 260px;
  height: 260px;
  margin: auto;
  width: 260px;
}

.boardpostgamebuttons {
  margin-top: 20px;
  text-align: center;
}

.boardpostgamebuttons button {
  cursor: pointer;
  height: 120px;
  margin-top: 20px;
  width: 60px;
}
.boardpostgamebuttons button img {
    width: 32px;
}

#helpbutton {
  background-image: url('img/help.png');
  background-size: 32px 32px;
  border-radius: 16px;
  display: inline-block;
  height: 32px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 32px;
}

@keyframes swivellybutton {
  0% {transform: rotate(45deg);}
  50% {transform: rotate(-45deg);}
  100% {transform: rotate(45deg);}
}

.swivellybutton {
  cursor: pointer;
}

.swivellybutton.buttonactive {
  cursor: default;
}

.swivellybutton:hover,
.swivellybutton.buttonactive {
  animation: swivellybutton 1s infinite;
  transform: rotate(20deg);
}


.overlayholder {
  background-color: rgba(100,100,100,.6);
  border-radius: 5px;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding-top: 100px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  transition: opacity 1s, visibility 1s;
  z-index: 1000;
}
.overlayholder.overlaydismissed {
  opacity: 0;
  visibility: hidden;
}

.overlay {
  display: inline-block;
  margin: auto;
  text-align: left;
  width: 600px;
}

.helpctrl {
  background-color: rgba(240,200,0,.9);
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #c80;
  font-size: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #000;
}

.bottombuttonholder {
  margin-top: 40px;
  text-align: center;
  white-space: nowrap;
}

.bottombuttonholder button {
  padding: 10px 40px;
}


.homectrl  {
  text-align: center;
}

.homectrl h1 {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

.homectrl button {
  margin-top: 40px;
  padding: 20px 40px;
}